<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>{{httpCode}} {{httpStatus}}</title>
  </head>
  <body>
    <p>
    Gee whiz, I sure am sorry, but an error occurred.
    This error is often caused by stale Narrative cookies. Try logging out and logging back in again (at narrative.kbase.us).
    If that doesn't work, try clearing your web browser cache.
    If you are still experiencing the problem, please contact us.
    </p>
    Timestamp: {{time}}<br/>
    Call ID: {{callID}}</br>
    Http code: {{httpCode}}<br/>
    Http status: {{httpStatus}}<br/>
    Message: {{message}}<br/>
  </body>
</html>
