<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>{{code}} {{status}}</title>
  </head>
  <body>
    <p>
    Gee whiz, I sure am sorry, but an error occurred. Gosh!
    </p>
    Timestamp: {{time}}<br/>
    Call ID: {{callID}}</br>
    Http code: {{httpCode}}<br/>
    Http status: {{httpStatus}}<br/>
    Message: {{message}}<br/>
  </body>
</html>